<br />
<br />

<footer>
  <div class="parent">
    <div class="div1">
      <h1>Cada momento importa.</h1>
      <h4>CrochetCraft</h4>
      <p>&#64;2025 Todos los derechos reservados.</p>
      <img src="assets/img/logo.png" alt="Logo CrochetCraft" />
    </div>
    <div class="div2">
      <h1>Ubicación</h1>
      <p>
        <a href="#domicilio"
          >Eusebio Sánchez Zarzoza #119,<br />
          Aguascalientes, Ags.</a
        >
      </p>
    </div>
    <div class="div3">
      <h1>Contáctanos</h1>
      <p>
        <a href="#tel" class="icon">
          <span class="material-symbols-rounded"> call </span> 4491889548
        </a>
      </p>
      <p>
        <a href="#correo" class="icon">
          <span class="material-symbols-rounded"> mail </span>
          alangaber11&#64;gmail.com
        </a>
      </p>
    </div>
    <div class="div4">
      <h1>Redes</h1>
      <div class="social">
        <img src="assets/icon/facebook.png" alt="Facebook" />
        <img src="assets/icon/instagram.png" alt="Instagram" />
        <img src="assets/icon/tik-tok.png" alt="TikTok" />
      </div>
    </div>
  </div>
</footer>
