<header>
  <nav class="menu">
    <img routerLink="/inicio" src="assets/img/logo.png" alt="CrochetCraft" />
    <h1 routerLink="/inicio">CrochetCraft</h1>
    <ul class="links">
      <li><a routerLink="/inicio">Inicio</a></li>
      <li>
        <a routerLink="/categorias" class="icon">
          Productos
          <span class="material-symbols-rounded">arrow_drop_down</span>
        </a>
        <ul>
          <li class="sub"><a routerLink="/flores">Flores</a></li>
          <li class="sub"><a routerLink="/amigurumis">Amigurumis</a></li>
          <li class="sub"><a routerLink="/llaveros">Llaveros</a></li>
          <li class="sub"><a routerLink="/ropa">Ropa</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/contacto" class="icon">
          Contacto
          <span class="material-symbols-rounded">arrow_drop_down</span>
        </a>
        <ul>
          <li class="sub"><a href="#whatsapp" target="_blank">WhatsApp</a></li>
        </ul>
      </li>
      <li><span class="material-symbols-rounded"> shopping_cart </span></li>

      <!-- Si NO está autenticado, muestra el botón de Registrarse -->
      <button *ngIf="!isLoggedIn" type="button" routerLink="/auth">
        Registrate
      </button>

      <!-- Si está autenticado, muestra el nombre y botón de logout -->
      <li>
        <button *ngIf="isLoggedIn" type="button">
          {{ nombre }}
          <span class="material-symbols-rounded">arrow_drop_down</span>
        </button>
        <ul class="user">
          <div class="buttons">
            <li class="sub">
              <!-- ! CAMBIAR ROUTERLINK -->
              <button routerLink="/flores">Perfil</button>
            </li>
            <li class="sub">
              <button (click)="logout()">Cerrar Sesión</button>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</header>
