<div class="super-container">
  <div class="container" [ngClass]="{ active: isSignUpMode }">
    <!-- Formulario de Inicio de Sesión -->
    <div class="form-container sign-in">
      <div class="back-button">
        <span class="material-symbols-rounded" routerLink="/inicio">
          arrow_back
        </span>
      </div>

      <form [formGroup]="loginForm">
        <h1>Iniciar Sesión</h1>
        <span>con tu correo y contraseña</span>
        <br />

        <div class="form-group">
          <input
            type="email"
            id="login-email"
            formControlName="email"
            required
            placeholder=" "
          />
          <label for="login-email">Correo Electrónico</label>
          <div
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <small>Introduce un correo válido</small>
          </div>
        </div>

        <div class="form-group password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="login-password"
            formControlName="password"
            required
            placeholder=" "
          />
          <label for="login-password">Contraseña</label>
          <span class="material-symbols-rounded eye" (click)="togglePassword()">
            {{ showPassword ? "visibility_off" : "visibility" }}
          </span>
        </div>
        <br />

        <a href="#">¿Olvidaste tu contraseña?</a>
        <br />

        <button type="submit" (click)="login()" [disabled]="!isFormValid">
          Iniciar Sesión
        </button>
      </form>
    </div>

    <!--! Formulario de Registro -->
    <div class="form-container sign-up">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h1>Regístrate</h1>
        <span>Usa tu correo para registrarte</span>

        <div class="form-group">
          <input
            type="text"
            id="register-name"
            formControlName="nombre"
            required
            placeholder=" "
          />
          <label for="register-name">Nombre Completo</label>
          <div
            *ngIf="
              registerForm.get('nombre')?.invalid &&
              registerForm.get('nombre')?.touched
            "
          >
            <small
              >El nombre es obligatorio y debe tener al menos 3
              caracteres</small
            >
          </div>
        </div>

        <div class="form-group">
          <input
            type="email"
            id="register-email"
            formControlName="email"
            required
            placeholder=" "
          />
          <label for="register-email">Correo Electrónico</label>
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
          >
            <small>Introduce un correo válido</small>
          </div>
        </div>

        <div class="form-group password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="register-password"
            formControlName="password"
            required
            placeholder=" "
          />
          <label for="register-password">Contraseña</label>
          <span class="material-symbols-rounded eye" (click)="togglePassword()">
            {{ showPassword ? "visibility_off" : "visibility" }}
          </span>
        </div>
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          <small>La contraseña debe tener al menos 6 caracteres</small>
        </div>

        <div class="form-group password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="register-confirm-password"
            formControlName="confirmPassword"
            required
            placeholder=" "
          />
          <label for="register-confirm-password">Confirmar Contraseña</label>
          <span class="material-symbols-rounded eye" (click)="togglePassword()">
            {{ showPassword ? "visibility_off" : "visibility" }}
          </span>
        </div>
        <div
          *ngIf="
            registerForm.hasError('passwordMismatch') &&
            registerForm.get('confirmPassword')?.touched
          "
        >
          <small>Las contraseñas no coinciden</small>
        </div>

        <!-- CAPTCHA -->
        <ngx-recaptcha2
          [siteKey]="'6LerxvcqAAAAAE23WZewOU9rLLBdCuIH28dF_XwU'"
          [useGlobalDomain]="false"
          formControlName="recaptcha"
        ></ngx-recaptcha2>
        <button type="submit" [disabled]="registerForm.invalid">
          Registrarse
        </button>
      </form>
    </div>

    <!-- TOGGLES -->
    <!-- Panel de Alternancia -->
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>¿Tienes cuenta?</h1>
          <p>
            Ingresa con tus datos para usar todas las funcionalidades del sitio
          </p>
          <button class="hidden" (click)="toggleForm()">Iniciar Sesión</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>¿No tienes cuenta?</h1>
          <p>
            Regístrate con tus datos personales para usar todas las
            funcionalidades del sitio
          </p>
          <button class="hidden" (click)="toggleForm()">Regístrate</button>
        </div>
      </div>
    </div>
  </div>
</div>
