.bienvenido {
  width: 100%;
  height: 570px;
  background-image: url("../../../assets/img/logo.png");
  background-repeat: repeat;
  background-size: 7.73%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bienvenido h1 {
  font-size: 80px;
  color: #000;
  text-align: center;
}

.group2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 80px;
}

swiper-container {
  --swiper-navigation-color: var(--color-secondary);
  --swiper-pagination-color: var(--color-secondary);
}

.image-swiper {
  margin-right: 50px;
  width: 35%;
  height: 35%;
  border-radius: 15px;
}

.image-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.image-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  object-position: center;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 500px;

  h2 {
    font-weight: bold;
  }

  p {
    margin-top: 0;
  }
}

.coleccion-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px; /* Increased gap for better spacing */
  margin: 20px 80px; /* Adjusted margins */
  height: 700px; /* Set a fixed height for the container */
}

.img1 {
  background-image: url("../../../assets/img/flores/kitTulipanes2.webp");
  background-size: cover;
  background-position: center;
  grid-row: span 4 / span 4;
  width: 350px;
  height: 600px;
  border-radius: 15px;
}

.img2 {
  background-image: url("../../../assets/img/amigurumis/pato1.webp");
  background-size: cover;
  background-position: center;
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  border-radius: 15px;
}

.img3 {
  background-image: url("../../../assets/img/amigurumis/kitty2.webp");
  background-size: cover;
  background-position: center;
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
  border-radius: 15px;
}

.img4 {
  background-image: url("../../../assets/img/flores/tulipan1.webp");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  grid-column: span 5 / span 5;
  grid-row-start: 5;
  height: 200px;
  border-radius: 15px;
}

.productos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 200px;
  gap: 300px;

  button {
    width: 150px;
    height: 70px;
  }
}

.resenas-container {
  margin: 40px 50px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.error {
  text-align: center;
  font-size: 18px;
  color: red;
}

.swiper-resenas {
  width: 100%;
  padding: 20px 0;
}

.slide-resenas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  background-color: var(--color-primary);
  width: 300px;
  height: 340px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  .card-header {
    text-align: center;
    flex-direction: column;

    h4 {
      margin: 15px 0;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .card-body {
    text-align: center;
  }
}

.btn-resena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    width: 150px;
    height: auto;
  }
}

.hidden {
  display: none;
}

.register {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    width: 150px;
    height: 50px;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background-color: var(--color-light);
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.modal-overlay.show .modal-container {
  transform: translateY(0);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-primary);
}

.modal-header h2 {
  margin: 0 auto;
  color: var(--color-secondary);
}

.close-btn {
  background: none;
  border: none;
  scale: 1.5;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: var(--color-primary);
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 15px 20px;
  border-top: 1px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-footer button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
}

.submit-btn:hover {
  background-color: var(--color-primary);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  background-color: var(--color-light);
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

small {
  color: red;
}

.form-group textarea {
  resize: vertical;
}
