/* ICONOS DE FLATICON */

/* COLORES */
:root {
  --color-primary: #c66f82;
  --color-primary-rgb: 198, 111, 130;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #b05f74;
  --color-primary-tint: #ce7c91;

  --color-secondary: #975473;
  --color-secondary-rgb: 151, 84, 115;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shade: #854a64;
  --color-secondary-tint: #a56b83;

  --color-tertiary: #e7a899;
  --color-tertiary-rgb: 231, 168, 153;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #cf9689;
  --color-tertiary-tint: #ebb3a5;

  --color-success: #2dd55b;
  --color-success-rgb: 45, 213, 91;
  --color-success-contrast: #000;
  --color-success-contrast-rgb: 0, 0, 0;
  --color-success-shade: #28bb50;
  --color-success-tint: #42d96b;

  --color-warning: #e7a899;
  --color-warning-rgb: 231, 168, 153;
  --color-warning-contrast: #ffffff;
  --color-warning-contrast-rgb: 255, 255, 255;
  --color-warning-shade: #cf9689;
  --color-warning-tint: #ebb3a5;

  --color-danger: #c5000f;
  --color-danger-rgb: 197, 0, 15;
  --color-danger-contrast: #fff;
  --color-danger-contrast-rgb: 255, 255, 255;
  --color-danger-shade: #ad000d;
  --color-danger-tint: #cb1a27;

  --color-light: #f0e9d7;
  --color-light-rgb: 240, 233, 215;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d4cdbf;
  --color-light-tint: #f3ede1;

  --color-dark: #453444;
  --color-dark-rgb: 69, 52, 68;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shade: #3e2f3c;
  --color-dark-tint: #5b495a;
}

/* FUENTES */
.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: var(--color-light);
}
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color-light);
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-light);
}

h1 {
  font-size: 40px;
  letter-spacing: 1.5px;
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 32px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 28px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-size: 24px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  margin: 5px 15px;
  padding: 10px 20px;
  font-family: "Poppins", serif;
  font-size: 16px;
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
