/* You can add global styles to this file, and also import other style files */
/* FUENTE */

:root {
  --color-primary: #975473;
  --color-primary-rgb: 151, 84, 115;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #854a64;
  --color-primary-tint: #a56b83;

  --color-secondary: #c66f82;
  --color-secondary-rgb: 198, 111, 130;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shade: #b05f74;
  --color-secondary-tint: #ce7c91;

  --color-tertiary: #e7a899;
  --color-tertiary-rgb: 231, 168, 153;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #cf9689;
  --color-tertiary-tint: #ebb3a5;

  --color-success: #28a745;
  --color-success-rgb: 40, 167, 69;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255, 255, 255;
  --color-success-shade: #218838;
  --color-success-tint: #34ce57;

  --color-warning: #e7a899;
  --color-warning-rgb: 231, 168, 153;
  --color-warning-contrast: #ffffff;
  --color-warning-contrast-rgb: 255, 255, 255;
  --color-warning-shade: #cf9689;
  --color-warning-tint: #ebb3a5;

  --color-danger: #dc3545;
  --color-danger-rgb: 220, 53, 69;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255, 255, 255;
  --color-danger-shade: #c82333;
  --color-danger-tint: #e4606d;

  --color-light: #f0e9d7;
  --color-light-rgb: 240, 233, 215;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d4cdbf;
  --color-light-tint: #f3ede1;

  --color-dark: #453444;
  --color-dark-rgb: 69, 52, 68;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shade: #3e2f3c;
  --color-dark-tint: #5b495a;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif; /* CAMBIAR JEJE */
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: 0 0 15px 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
